/* App.css */
.centeredContent {
  max-width: 600px; /* Adjust this value as needed */
  margin: 20px auto; /* Update margin to be consistent with other centered content */
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.centeredContent p {
  margin: 10px 0;
}

.centeredContent p.text-right {
  text-align: right;
}

@media (max-width: 768px) {
  .centeredContent {
    max-width: calc(100% - 40px);
    padding: 10px;
  }
}


